![DataCamp courses](http://community.datacamp.com.s3.amazonaws.com/community/production/ckeditor_assets/pictures/293/content_blog_banner.png)

In [5]:
!pip install yfinance matplotlib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: yfinance in /home/jtviegas/.local/lib/python3.10/site-packages (0.2.31)
Requirement already satisfied: matplotlib in /home/jtviegas/.local/lib/python3.10/site-packages (3.8.1)
Requirement already satisfied: pandas>=1.3.0 in /home/jtviegas/.local/lib/python3.10/site-packages (from yfinance) (1.5.3)
Requirement already satisfied: numpy>=1.16.5 in /home/jtviegas/.local/lib/python3.10/site-packages (from yfinance) (1.26.1)
Requirement already satisfied: requests>=2.31 in /home/jtviegas/.local/lib/python3.10/site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in /home/jtviegas/.local/lib/python3.10/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /home/jtviegas/.local/lib/python3.10/site-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in /home/jtviegas/.local/lib/python3.10/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /home/jtviegas/.local/lib/python3.10/site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in /home/jtviegas/.local/lib/python3.10/site-packages (from yfinance) (2.3.8)
Requirement already satisfied: peewee>=3.16.2 in /home/jtviegas/.local/lib/python3.10/site-packages (from yfinance) (3.17.0)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /home/jtviegas/.local/lib/python3.10/site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in /home/jtviegas/.local/lib/python3.10/site-packages (from yfinance) (1.1)
Requirement already satisfied: contourpy>=1.0.1 in /home/jtviegas/.local/lib/python3.10/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /home/jtviegas/.local/lib/python3.10/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/jtviegas/.local/lib/python3.10/site-packages (from matplotlib) (4.44.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/jtviegas/.local/lib/python3.10/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /home/jtviegas/.local/lib/python3.10/site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in /home/jtviegas/.local/lib/python3.10/site-packages (from matplotlib) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/lib/python3/dist-packages (from matplotlib) (2.4.7)
Requirement already satisfied: python-dateutil>=2.7 in /home/jtviegas/.local/lib/python3.10/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: soupsieve>1.2 in /home/jtviegas/.local/lib/python3.10/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in /usr/lib/python3/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /home/jtviegas/.local/lib/python3.10/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/jtviegas/.local/lib/python3.10/site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /home/jtviegas/.local/lib/python3.10/site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/jtviegas/.local/lib/python3.10/site-packages (from requests>=2.31->yfinance) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /home/jtviegas/.local/lib/python3.10/site-packages (from requests>=2.31->yfinance) (2023.7.22)

yfinance lib: https://github.com/ranaroussi/yfinance/tree/main

In [84]:
import pandas as pd
import numpy as np
from typing import Tuple, List
from datetime import datetime, timezone
import matplotlib.pyplot as plt
import yfinance as yf

In [82]:
symbols = ["GOOG"]
start = None
end = None
market_data = yf.download(",".join(symbols), start=start, end=end, interval="1d")
market_data.head()

[*********************100%%**********************]  1 of 1 completed

                Open      High       Low     Close  Adj Close     Volume
Date
2004-08-19  2.490664  2.591785  2.390042  2.499133   2.499133  897427216
2004-08-20  2.515820  2.716817  2.503118  2.697639   2.697639  458857488
2004-08-23  2.758411  2.826406  2.716070  2.724787   2.724787  366857939
2004-08-24  2.770615  2.779581  2.579581  2.611960   2.611960  306396159
2004-08-25  2.614201  2.689918  2.587302  2.640104   2.640104  184645512

In [83]:


result = pd.DataFrame(columns=["symbol", "variable", "value", "actual_time"])

multiple_symbols: bool = 1 < len(symbols)
for key, val in market_data.head(9).to_dict().items():
    if multiple_symbols:
        variable, symbol = key
    else:
        variable = key
        symbol = symbols[0]
    
    for ts, num in val.items():
        if not pd.isnull(num):
            entry = pd.DataFrame({"symbol": symbol, "variable": [variable], "value": [num], "actual_time": [ts.timestamp()]})
            result = pd.concat([result, entry])

result = result.sort_values(by=["actual_time", "symbol"])
result

  symbol   variable         value   actual_time
0   GOOG       Open  2.490664e+00  1.092874e+09
0   GOOG       High  2.591785e+00  1.092874e+09
0   GOOG        Low  2.390042e+00  1.092874e+09
0   GOOG      Close  2.499133e+00  1.092874e+09
0   GOOG  Adj Close  2.499133e+00  1.092874e+09
0   GOOG     Volume  8.974272e+08  1.092874e+09
0   GOOG       Open  2.515820e+00  1.092960e+09
0   GOOG       High  2.716817e+00  1.092960e+09
0   GOOG        Low  2.503118e+00  1.092960e+09
0   GOOG      Close  2.697639e+00  1.092960e+09
0   GOOG  Adj Close  2.697639e+00  1.092960e+09
0   GOOG     Volume  4.588575e+08  1.092960e+09
0   GOOG       Open  2.758411e+00  1.093219e+09
0   GOOG       High  2.826406e+00  1.093219e+09
0   GOOG        Low  2.716070e+00  1.093219e+09
0   GOOG      Close  2.724787e+00  1.093219e+09
0   GOOG  Adj Close  2.724787e+00  1.093219e+09
0   GOOG     Volume  3.668579e+08  1.093219e+09
0   GOOG       Open  2.770615e+00  1.093306e+09
0   GOOG       High  2.779581e+00  1.093306e+09
0   GOOG        Low  2.579581e+00  1.093306e+09
0   GOOG      Close  2.611960e+00  1.093306e+09
0   GOOG  Adj Close  2.611960e+00  1.093306e+09
0   GOOG     Volume  3.063962e+08  1.093306e+09
0   GOOG       Open  2.614201e+00  1.093392e+09
0   GOOG       High  2.689918e+00  1.093392e+09
0   GOOG        Low  2.587302e+00  1.093392e+09
0   GOOG      Close  2.640104e+00  1.093392e+09
0   GOOG  Adj Close  2.640104e+00  1.093392e+09
0   GOOG     Volume  1.846455e+08  1.093392e+09
0   GOOG       Open  2.613952e+00  1.093478e+09
0   GOOG       High  2.688672e+00  1.093478e+09
0   GOOG        Low  2.606729e+00  1.093478e+09
0   GOOG      Close  2.687676e+00  1.093478e+09
0   GOOG  Adj Close  2.687676e+00  1.093478e+09
0   GOOG     Volume  1.425724e+08  1.093478e+09
0   GOOG       Open  2.692408e+00  1.093565e+09
0   GOOG       High  2.705360e+00  1.093565e+09
0   GOOG        Low  2.632383e+00  1.093565e+09
0   GOOG      Close  2.643840e+00  1.093565e+09
0   GOOG  Adj Close  2.643840e+00  1.093565e+09
0   GOOG     Volume  1.248261e+08  1.093565e+09
0   GOOG       Open  2.622171e+00  1.093824e+09
0   GOOG       High  2.627402e+00  1.093824e+09
0   GOOG        Low  2.540727e+00  1.093824e+09
0   GOOG      Close  2.540727e+00  1.093824e+09
0   GOOG  Adj Close  2.540727e+00  1.093824e+09
0   GOOG     Volume  1.044300e+08  1.093824e+09
0   GOOG       Open  2.547950e+00  1.093910e+09
0   GOOG       High  2.583068e+00  1.093910e+09
0   GOOG        Low  2.544463e+00  1.093910e+09
0   GOOG      Close  2.549693e+00  1.093910e+09
0   GOOG  Adj Close  2.549693e+00  1.093910e+09
0   GOOG     Volume  9.882504e+07  1.093910e+09

In [76]:
entry = pd.DataFrame(columns=["symbol", "variable"])
entry.reset_index(inplace=True)

In [71]:
entry = pd.DataFrame({"symbol": ["e"], "variable": ["variable"]})
entry.head()

  symbol  variable
0      e  variable

In [50]:
df = pd.DataFrame( 
                  {'Open': {Timestamp('2004-08-19 00:00:00'), Timestamp('2004-08-20 00:00:00'): 2.515820026397705, Timestamp('2004-08-23 00:00:00'): 2.758410930633545, Timestamp('2004-08-24 00:00:00'): 2.7706151008605957, Timestamp('2004-08-25 00:00:00'): 2.614201068878174}, 
                   'High': {Timestamp('2004-08-19 00:00:00'): 2.591784954071045, Timestamp('2004-08-20 00:00:00'): 2.7168169021606445, Timestamp('2004-08-23 00:00:00'): 2.8264060020446777, Timestamp('2004-08-24 00:00:00'): 2.779581069946289, Timestamp('2004-08-25 00:00:00'): 2.689918041229248}, 
                   'Low': {Timestamp('2004-08-19 00:00:00'): 2.3900420665740967, Timestamp('2004-08-20 00:00:00'): 2.5031180381774902, Timestamp('2004-08-23 00:00:00'): 2.7160699367523193, Timestamp('2004-08-24 00:00:00'): 2.5795810222625732, Timestamp('2004-08-25 00:00:00'): 2.5873019695281982}, 
                   'Close': {Timestamp('2004-08-19 00:00:00'): 2.4991331100463867, Timestamp('2004-08-20 00:00:00'): 2.697638988494873, Timestamp('2004-08-23 00:00:00'): 2.7247869968414307, Timestamp('2004-08-24 00:00:00'): 2.611959934234619, Timestamp('2004-08-25 00:00:00'): 2.640104055404663}, 
                   'Adj Close': {Timestamp('2004-08-19 00:00:00'): 2.4991331100463867, Timestamp('2004-08-20 00:00:00'): 2.697638988494873, Timestamp('2004-08-23 00:00:00'): 2.7247869968414307, Timestamp('2004-08-24 00:00:00'): 2.611959934234619, Timestamp('2004-08-25 00:00:00'): 2.640104055404663}, 
                   'Volume': {Timestamp('2004-08-19 00:00:00'): 897427216, Timestamp('2004-08-20 00:00:00'): 458857488, Timestamp('2004-08-23 00:00:00'): 366857939, Timestamp('2004-08-24 00:00:00'): 306396159, Timestamp('2004-08-25 00:00:00'): 184645512}
                   } 
    )

SyntaxError: invalid syntax (1889504814.py, line 2)

In [21]:
df = pd.DataFrame( 
                  {'Open': [datetime.fromisoformat('2004-08-19 00:00:00') , datetime.fromisoformat('2004-08-20 00:00:00'), datetime.fromisoformat('2004-08-23 00:00:00'), datetime.fromisoformat('2004-08-24 00:00:00'), datetime.fromisoformat('2004-08-25 00:00:00')], 
                   'High': [datetime.fromisoformat('2004-08-19 00:00:00'), datetime.fromisoformat('2004-08-20 00:00:00'), datetime.fromisoformat('2004-08-23 00:00:00'), datetime.fromisoformat('2004-08-24 00:00:00'), datetime.fromisoformat('2004-08-25 00:00:00')], 
                   'Low': [datetime.fromisoformat('2004-08-19 00:00:00'), datetime.fromisoformat('2004-08-20 00:00:00'), datetime.fromisoformat('2004-08-23 00:00:00'), datetime.fromisoformat('2004-08-24 00:00:00'), datetime.fromisoformat('2004-08-25 00:00:00')], 
                   'Close': [datetime.fromisoformat('2004-08-19 00:00:00'), datetime.fromisoformat('2004-08-20 00:00:00'), datetime.fromisoformat('2004-08-23 00:00:00'), datetime.fromisoformat('2004-08-24 00:00:00'), datetime.fromisoformat('2004-08-25 00:00:00')], 
                   'Adj Close': [datetime.fromisoformat('2004-08-19 00:00:00'), datetime.fromisoformat('2004-08-20 00:00:00'), datetime.fromisoformat('2004-08-23 00:00:00'), datetime.fromisoformat('2004-08-24 00:00:00'), datetime.fromisoformat('2004-08-25 00:00:00')], 
                   'Volume': [datetime.fromisoformat('2004-08-19 00:00:00'), datetime.fromisoformat('2004-08-20 00:00:00'), datetime.fromisoformat('2004-08-23 00:00:00'), datetime.fromisoformat('2004-08-24 00:00:00'), datetime.fromisoformat('2004-08-25 00:00:00')]
                   } 
    )

In [22]:
df.head()

        Open       High        Low      Close  Adj Close     Volume
0 2004-08-19 2004-08-19 2004-08-19 2004-08-19 2004-08-19 2004-08-19
1 2004-08-20 2004-08-20 2004-08-20 2004-08-20 2004-08-20 2004-08-20
2 2004-08-23 2004-08-23 2004-08-23 2004-08-23 2004-08-23 2004-08-23
3 2004-08-24 2004-08-24 2004-08-24 2004-08-24 2004-08-24 2004-08-24
4 2004-08-25 2004-08-25 2004-08-25 2004-08-25 2004-08-25 2004-08-25

In [45]:

print("df = pd.DataFrame( %s )" % (str(market_data.head().to_dict()).replace(" nan"," float('nan')")))

df = pd.DataFrame( {('Adj Close', 'AMZN'): {Timestamp('1997-05-15 00:00:00'): 0.09791699796915054, Timestamp('1997-05-16 00:00:00'): 0.0864579975605011, Timestamp('1997-05-19 00:00:00'): 0.0854170024394989, Timestamp('1997-05-20 00:00:00'): 0.08177100121974945, Timestamp('1997-05-21 00:00:00'): 0.07135400176048279}, ('Adj Close', 'GOOG'): {Timestamp('1997-05-15 00:00:00'): float('nan'), Timestamp('1997-05-16 00:00:00'): float('nan'), Timestamp('1997-05-19 00:00:00'): float('nan'), Timestamp('1997-05-20 00:00:00'): float('nan'), Timestamp('1997-05-21 00:00:00'): float('nan')}, ('Close', 'AMZN'): {Timestamp('1997-05-15 00:00:00'): 0.09791699796915054, Timestamp('1997-05-16 00:00:00'): 0.0864579975605011, Timestamp('1997-05-19 00:00:00'): 0.0854170024394989, Timestamp('1997-05-20 00:00:00'): 0.08177100121974945, Timestamp('1997-05-21 00:00:00'): 0.07135400176048279}, ('Close', 'GOOG'): {Timestamp('1997-05-15 00:00:00'): float('nan'), Timestamp('1997-05-16 00:00:00'): float('nan'), Timestamp('1997-05-19 00:00:00'): float('nan'), Timestamp('1997-05-20 00:00:00'): float('nan'), Timestamp('1997-05-21 00:00:00'): float('nan')}, ('High', 'AMZN'): {Timestamp('1997-05-15 00:00:00'): 0.125, Timestamp('1997-05-16 00:00:00'): 0.09895800054073334, Timestamp('1997-05-19 00:00:00'): 0.08854199945926666, Timestamp('1997-05-20 00:00:00'): 0.08749999850988388, Timestamp('1997-05-21 00:00:00'): 0.08229199796915054}, ('High', 'GOOG'): {Timestamp('1997-05-15 00:00:00'): float('nan'), Timestamp('1997-05-16 00:00:00'): float('nan'), Timestamp('1997-05-19 00:00:00'): float('nan'), Timestamp('1997-05-20 00:00:00'): float('nan'), Timestamp('1997-05-21 00:00:00'): float('nan')}, ('Low', 'AMZN'): {Timestamp('1997-05-15 00:00:00'): 0.09635400027036667, Timestamp('1997-05-16 00:00:00'): 0.0854170024394989, Timestamp('1997-05-19 00:00:00'): 0.08124999701976776, Timestamp('1997-05-20 00:00:00'): 0.08177100121974945, Timestamp('1997-05-21 00:00:00'): 0.06875000149011612}, ('Low', 'GOOG'): {Timestamp('1997-05-15 00:00:00'): float('nan'), Timestamp('1997-05-16 00:00:00'): float('nan'), Timestamp('1997-05-19 00:00:00'): float('nan'), Timestamp('1997-05-20 00:00:00'): float('nan'), Timestamp('1997-05-21 00:00:00'): float('nan')}, ('Open', 'AMZN'): {Timestamp('1997-05-15 00:00:00'): 0.12187500298023224, Timestamp('1997-05-16 00:00:00'): 0.09843800216913223, Timestamp('1997-05-19 00:00:00'): 0.08802100270986557, Timestamp('1997-05-20 00:00:00'): 0.0864579975605011, Timestamp('1997-05-21 00:00:00'): 0.08177100121974945}, ('Open', 'GOOG'): {Timestamp('1997-05-15 00:00:00'): float('nan'), Timestamp('1997-05-16 00:00:00'): float('nan'), Timestamp('1997-05-19 00:00:00'): float('nan'), Timestamp('1997-05-20 00:00:00'): float('nan'), Timestamp('1997-05-21 00:00:00'): float('nan')}, ('Volume', 'AMZN'): {Timestamp('1997-05-15 00:00:00'): 1443120000, Timestamp('1997-05-16 00:00:00'): 294000000, Timestamp('1997-05-19 00:00:00'): 122136000, Timestamp('1997-05-20 00:00:00'): 109344000, Timestamp('1997-05-21 00:00:00'): 377064000}, ('Volume', 'GOOG'): {Timestamp('1997-05-15 00:00:00'): float('nan'), Timestamp('1997-05-16 00:00:00'): float('nan'), Timestamp('1997-05-19 00:00:00'): float('nan'), Timestamp('1997-05-20 00:00:00'): float('nan'), Timestamp('1997-05-21 00:00:00'): float('nan')}} )

In [46]:
from pandas import Timestamp


df = pd.DataFrame( {('Adj Close', 'AMZN'): {Timestamp('1997-05-15 00:00:00'): 0.09791699796915054, Timestamp('1997-05-16 00:00:00'): 0.0864579975605011, Timestamp('1997-05-19 00:00:00'): 0.0854170024394989, Timestamp('1997-05-20 00:00:00'): 0.08177100121974945, Timestamp('1997-05-21 00:00:00'): 0.07135400176048279}, ('Adj Close', 'GOOG'): {Timestamp('1997-05-15 00:00:00'): float('nan'), Timestamp('1997-05-16 00:00:00'): float('nan'), Timestamp('1997-05-19 00:00:00'): float('nan'), Timestamp('1997-05-20 00:00:00'): float('nan'), Timestamp('1997-05-21 00:00:00'): float('nan')}, ('Close', 'AMZN'): {Timestamp('1997-05-15 00:00:00'): 0.09791699796915054, Timestamp('1997-05-16 00:00:00'): 0.0864579975605011, Timestamp('1997-05-19 00:00:00'): 0.0854170024394989, Timestamp('1997-05-20 00:00:00'): 0.08177100121974945, Timestamp('1997-05-21 00:00:00'): 0.07135400176048279}, ('Close', 'GOOG'): {Timestamp('1997-05-15 00:00:00'): float('nan'), Timestamp('1997-05-16 00:00:00'): float('nan'), Timestamp('1997-05-19 00:00:00'): float('nan'), Timestamp('1997-05-20 00:00:00'): float('nan'), Timestamp('1997-05-21 00:00:00'): float('nan')}, ('High', 'AMZN'): {Timestamp('1997-05-15 00:00:00'): 0.125, Timestamp('1997-05-16 00:00:00'): 0.09895800054073334, Timestamp('1997-05-19 00:00:00'): 0.08854199945926666, Timestamp('1997-05-20 00:00:00'): 0.08749999850988388, Timestamp('1997-05-21 00:00:00'): 0.08229199796915054}, ('High', 'GOOG'): {Timestamp('1997-05-15 00:00:00'): float('nan'), Timestamp('1997-05-16 00:00:00'): float('nan'), Timestamp('1997-05-19 00:00:00'): float('nan'), Timestamp('1997-05-20 00:00:00'): float('nan'), Timestamp('1997-05-21 00:00:00'): float('nan')}, ('Low', 'AMZN'): {Timestamp('1997-05-15 00:00:00'): 0.09635400027036667, Timestamp('1997-05-16 00:00:00'): 0.0854170024394989, Timestamp('1997-05-19 00:00:00'): 0.08124999701976776, Timestamp('1997-05-20 00:00:00'): 0.08177100121974945, Timestamp('1997-05-21 00:00:00'): 0.06875000149011612}, ('Low', 'GOOG'): {Timestamp('1997-05-15 00:00:00'): float('nan'), Timestamp('1997-05-16 00:00:00'): float('nan'), Timestamp('1997-05-19 00:00:00'): float('nan'), Timestamp('1997-05-20 00:00:00'): float('nan'), Timestamp('1997-05-21 00:00:00'): float('nan')}, ('Open', 'AMZN'): {Timestamp('1997-05-15 00:00:00'): 0.12187500298023224, Timestamp('1997-05-16 00:00:00'): 0.09843800216913223, Timestamp('1997-05-19 00:00:00'): 0.08802100270986557, Timestamp('1997-05-20 00:00:00'): 0.0864579975605011, Timestamp('1997-05-21 00:00:00'): 0.08177100121974945}, ('Open', 'GOOG'): {Timestamp('1997-05-15 00:00:00'): float('nan'), Timestamp('1997-05-16 00:00:00'): float('nan'), Timestamp('1997-05-19 00:00:00'): float('nan'), Timestamp('1997-05-20 00:00:00'): float('nan'), Timestamp('1997-05-21 00:00:00'): float('nan')}, ('Volume', 'AMZN'): {Timestamp('1997-05-15 00:00:00'): 1443120000, Timestamp('1997-05-16 00:00:00'): 294000000, Timestamp('1997-05-19 00:00:00'): 122136000, Timestamp('1997-05-20 00:00:00'): 109344000, Timestamp('1997-05-21 00:00:00'): 377064000}, ('Volume', 'GOOG'): {Timestamp('1997-05-15 00:00:00'): float('nan'), Timestamp('1997-05-16 00:00:00'): float('nan'), Timestamp('1997-05-19 00:00:00'): float('nan'), Timestamp('1997-05-20 00:00:00'): float('nan'), Timestamp('1997-05-21 00:00:00'): float('nan')}} )

In [ ]:
result = pd.DataFrame(columns=["symbol", "variable",	"value",	"actual_time"])

In [143]:
def get_historical_daily_market_data(symbols: str, start: datetime = None, end: datetime = None) -> Tuple[pd.DataFrame, datetime]:

  result = pd.DataFrame(columns=["symbol", "variable",	"value",	"actual_time"])
  max_ts: datetime = None
  symbols_list = symbols.split()
  unique_symbol = (True if len(symbols_list) == 1 else False)

  market_data = yf.download(symbols, start=start, end=end, interval="1d")
  if not market_data.empty:
    for symbol in symbols_list:

      dfs = pd.DataFrame(index=market_data.index)
      for col in list(market_data.columns):
        column = col if type(col).__name__ == "str" else col[0]
        dfs[column] = market_data[column] if unique_symbol else market_data[column][symbol]
      dfs["symbol"] = symbol
      dfs.reset_index(inplace=True)
      dfs = pd.melt(dfs, id_vars=['symbol', 'Date'])
      dfs["variable"] = dfs["variable"].str.lower().str.replace(" ", "_")
      dfs["symbol"] = dfs["symbol"].str.lower()
      dfs.columns = dfs.columns.str.lower()
      dfs["actual_time"] = dfs["date"]
      dfs.pop("date")

      result = pd.concat([result, dfs]).sort_values(by=["actual_time", "symbol"])
      max_ts: datetime = result.groupby("symbol", as_index=False).max().iloc[0]["actual_time"].to_pydatetime().astimezone(timezone.utc)

  return result, max_ts

In [144]:
symbols_as_str = "GOOG PLTR"
df, max_ts = get_historical_daily_market_data(symbols_as_str)

[*********************100%%**********************]  2 of 2 completed

In [145]:
df.head()

      symbol   variable     value actual_time
0       goog  adj_close  2.499133  2004-08-19
4827    goog      close  2.499133  2004-08-19
9654    goog       high  2.591785  2004-08-19
14481   goog        low  2.390042  2004-08-19
19308   goog       open  2.490664  2004-08-19

In [146]:
max_ts

datetime.datetime(2023, 10, 20, 0, 0, tzinfo=datetime.timezone.utc)

In [105]:
import tempfile
tempfile.gettempdir()

'/tmp'

In [131]:
SOLUTION_NAME="tgedr_fetcher"
MAXTS_FILE_NAME=f"{SOLUTION_NAME}_maxts"
MAXTS_FILEPATH = f"{tempfile.gettempdir()}/.{MAXTS_FILE_NAME}"

def set_maxts(maxts: datetime):
  with open(MAXTS_FILEPATH, 'w') as f:
    f.write(str(int(maxts.timestamp())))

def get_maxts() -> datetime:
  result = None
  try:
    with open(MAXTS_FILEPATH) as f:
      for line in f:
          result = datetime.fromtimestamp(int(line), tz=timezone.utc)
          break
  except FileNotFoundError:
    print("file not found, shall we start from scratch?")
  return result

In [134]:
set_maxts(datetime.now().astimezone(timezone.utc))

In [137]:
get_maxts()

datetime.datetime(2023, 10, 22, 17, 12, 27, tzinfo=datetime.timezone.utc)

In [147]:
df, max_ts = get_historical_daily_market_data(symbols_as_str, start=get_maxts())

[*********************100%%**********************]  2 of 2 completed

ERROR:yfinance:
2 Failed downloads:
ERROR:yfinance:['PLTR', 'GOOG']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2023-10-22 17:12:27+00:00 -> 2023-10-22)')

In [109]:
df = pd.DataFrame(
        {
            ("Adj Close", "AMZN"): {
                Timestamp("1997-05-15 00:00:00"): 0.09791699796915054,
                Timestamp("1997-05-16 00:00:00"): 0.0864579975605011,
                Timestamp("1997-05-19 00:00:00"): 0.0854170024394989,
                Timestamp("1997-05-20 00:00:00"): 0.08177100121974945,
                Timestamp("1997-05-21 00:00:00"): 0.07135400176048279,
            },
            ("Adj Close", "GOOG"): {
                Timestamp("1997-05-15 00:00:00"): float("nan"),
                Timestamp("1997-05-16 00:00:00"): float("nan"),
                Timestamp("1997-05-19 00:00:00"): float("nan"),
                Timestamp("1997-05-20 00:00:00"): float("nan"),
                Timestamp("1997-05-21 00:00:00"): float("nan"),
            },
            ("Close", "AMZN"): {
                Timestamp("1997-05-15 00:00:00"): 0.09791699796915054,
                Timestamp("1997-05-16 00:00:00"): 0.0864579975605011,
                Timestamp("1997-05-19 00:00:00"): 0.0854170024394989,
                Timestamp("1997-05-20 00:00:00"): 0.08177100121974945,
                Timestamp("1997-05-21 00:00:00"): 0.07135400176048279,
            },
            ("Close", "GOOG"): {
                Timestamp("1997-05-15 00:00:00"): float("nan"),
                Timestamp("1997-05-16 00:00:00"): float("nan"),
                Timestamp("1997-05-19 00:00:00"): float("nan"),
                Timestamp("1997-05-20 00:00:00"): float("nan"),
                Timestamp("1997-05-21 00:00:00"): float("nan"),
            },
            ("High", "AMZN"): {
                Timestamp("1997-05-15 00:00:00"): 0.125,
                Timestamp("1997-05-16 00:00:00"): 0.09895800054073334,
                Timestamp("1997-05-19 00:00:00"): 0.08854199945926666,
                Timestamp("1997-05-20 00:00:00"): 0.08749999850988388,
                Timestamp("1997-05-21 00:00:00"): 0.08229199796915054,
            },
            ("High", "GOOG"): {
                Timestamp("1997-05-15 00:00:00"): float("nan"),
                Timestamp("1997-05-16 00:00:00"): float("nan"),
                Timestamp("1997-05-19 00:00:00"): float("nan"),
                Timestamp("1997-05-20 00:00:00"): float("nan"),
                Timestamp("1997-05-21 00:00:00"): float("nan"),
            },
            ("Low", "AMZN"): {
                Timestamp("1997-05-15 00:00:00"): 0.09635400027036667,
                Timestamp("1997-05-16 00:00:00"): 0.0854170024394989,
                Timestamp("1997-05-19 00:00:00"): 0.08124999701976776,
                Timestamp("1997-05-20 00:00:00"): 0.08177100121974945,
                Timestamp("1997-05-21 00:00:00"): 0.06875000149011612,
            },
            ("Low", "GOOG"): {
                Timestamp("1997-05-15 00:00:00"): float("nan"),
                Timestamp("1997-05-16 00:00:00"): float("nan"),
                Timestamp("1997-05-19 00:00:00"): float("nan"),
                Timestamp("1997-05-20 00:00:00"): float("nan"),
                Timestamp("1997-05-21 00:00:00"): float("nan"),
            },
            ("Open", "AMZN"): {
                Timestamp("1997-05-15 00:00:00"): 0.12187500298023224,
                Timestamp("1997-05-16 00:00:00"): 0.09843800216913223,
                Timestamp("1997-05-19 00:00:00"): 0.08802100270986557,
                Timestamp("1997-05-20 00:00:00"): 0.0864579975605011,
                Timestamp("1997-05-21 00:00:00"): 0.08177100121974945,
            },
            ("Open", "GOOG"): {
                Timestamp("1997-05-15 00:00:00"): float("nan"),
                Timestamp("1997-05-16 00:00:00"): float("nan"),
                Timestamp("1997-05-19 00:00:00"): float("nan"),
                Timestamp("1997-05-20 00:00:00"): float("nan"),
                Timestamp("1997-05-21 00:00:00"): float("nan"),
            },
            ("Volume", "AMZN"): {
                Timestamp("1997-05-15 00:00:00"): 1443120000,
                Timestamp("1997-05-16 00:00:00"): 294000000,
                Timestamp("1997-05-19 00:00:00"): 122136000,
                Timestamp("1997-05-20 00:00:00"): 109344000,
                Timestamp("1997-05-21 00:00:00"): 377064000,
            },
            ("Volume", "GOOG"): {
                Timestamp("1997-05-15 00:00:00"): float("nan"),
                Timestamp("1997-05-16 00:00:00"): float("nan"),
                Timestamp("1997-05-19 00:00:00"): float("nan"),
                Timestamp("1997-05-20 00:00:00"): float("nan"),
                Timestamp("1997-05-21 00:00:00"): float("nan"),
            },
        }
    )

In [121]:
def fetch(symbols: List[str], start: datetime = None, end: datetime = None, interval: str="1d") -> Tuple[pd.DataFrame, datetime]:
    #logger.info(f"[fetch|in] ({symbols}, {start}, {end})")
    
    result = pd.DataFrame(columns=["symbol", "variable", "value", "actual_time"])
    max_actual_time: datetime = None
    
    #market_data = yf.download(",".join(symbols), start=start, end=end, interval=interval)
    market_data = df
    if not market_data.empty:
        multiple_symbols: bool = 1 < len(symbols)
        for key, val in market_data.to_dict().items():
            if multiple_symbols:
                variable, symbol = key
            else:
                variable = key
                symbol = symbols[0]
            
            for ts, num in val.items():
                if not pd.isnull(num):
                    entry = pd.DataFrame({"symbol": symbol, "variable": [variable], "value": [num], "actual_time": [ts.timestamp()]})
                    result = pd.concat([result, entry])

        result.reset_index(drop=True, inplace=True)
        result = result.sort_values(by=["actual_time", "symbol"])
        max_actual_time: datetime = result.groupby("symbol", as_index=False).max().iloc[0]["actual_time"]

    return result, max_actual_time

In [122]:
do, t = fetch(["XPTO"])

In [123]:
do

   symbol           variable         value  actual_time
0    XPTO  (Adj Close, AMZN)  9.791700e-02  863654400.0
5    XPTO      (Close, AMZN)  9.791700e-02  863654400.0
10   XPTO       (High, AMZN)  1.250000e-01  863654400.0
15   XPTO        (Low, AMZN)  9.635400e-02  863654400.0
20   XPTO       (Open, AMZN)  1.218750e-01  863654400.0
25   XPTO     (Volume, AMZN)  1.443120e+09  863654400.0
1    XPTO  (Adj Close, AMZN)  8.645800e-02  863740800.0
6    XPTO      (Close, AMZN)  8.645800e-02  863740800.0
11   XPTO       (High, AMZN)  9.895800e-02  863740800.0
16   XPTO        (Low, AMZN)  8.541700e-02  863740800.0
21   XPTO       (Open, AMZN)  9.843800e-02  863740800.0
26   XPTO     (Volume, AMZN)  2.940000e+08  863740800.0
2    XPTO  (Adj Close, AMZN)  8.541700e-02  864000000.0
7    XPTO      (Close, AMZN)  8.541700e-02  864000000.0
12   XPTO       (High, AMZN)  8.854200e-02  864000000.0
17   XPTO        (Low, AMZN)  8.125000e-02  864000000.0
22   XPTO       (Open, AMZN)  8.802100e-02  864000000.0
27   XPTO     (Volume, AMZN)  1.221360e+08  864000000.0
3    XPTO  (Adj Close, AMZN)  8.177100e-02  864086400.0
8    XPTO      (Close, AMZN)  8.177100e-02  864086400.0
13   XPTO       (High, AMZN)  8.750000e-02  864086400.0
18   XPTO        (Low, AMZN)  8.177100e-02  864086400.0
23   XPTO       (Open, AMZN)  8.645800e-02  864086400.0
28   XPTO     (Volume, AMZN)  1.093440e+08  864086400.0
4    XPTO  (Adj Close, AMZN)  7.135400e-02  864172800.0
9    XPTO      (Close, AMZN)  7.135400e-02  864172800.0
14   XPTO       (High, AMZN)  8.229200e-02  864172800.0
19   XPTO        (Low, AMZN)  6.875000e-02  864172800.0
24   XPTO       (Open, AMZN)  8.177100e-02  864172800.0
29   XPTO     (Volume, AMZN)  3.770640e+08  864172800.0

In [96]:
t

864172800.0

In [124]:
print(f"df = pd.DataFrame({str(do.to_dict())})")

df = pd.DataFrame({'symbol': {0: 'XPTO', 5: 'XPTO', 10: 'XPTO', 15: 'XPTO', 20: 'XPTO', 25: 'XPTO', 1: 'XPTO', 6: 'XPTO', 11: 'XPTO', 16: 'XPTO', 21: 'XPTO', 26: 'XPTO', 2: 'XPTO', 7: 'XPTO', 12: 'XPTO', 17: 'XPTO', 22: 'XPTO', 27: 'XPTO', 3: 'XPTO', 8: 'XPTO', 13: 'XPTO', 18: 'XPTO', 23: 'XPTO', 28: 'XPTO', 4: 'XPTO', 9: 'XPTO', 14: 'XPTO', 19: 'XPTO', 24: 'XPTO', 29: 'XPTO'}, 'variable': {0: ('Adj Close', 'AMZN'), 5: ('Close', 'AMZN'), 10: ('High', 'AMZN'), 15: ('Low', 'AMZN'), 20: ('Open', 'AMZN'), 25: ('Volume', 'AMZN'), 1: ('Adj Close', 'AMZN'), 6: ('Close', 'AMZN'), 11: ('High', 'AMZN'), 16: ('Low', 'AMZN'), 21: ('Open', 'AMZN'), 26: ('Volume', 'AMZN'), 2: ('Adj Close', 'AMZN'), 7: ('Close', 'AMZN'), 12: ('High', 'AMZN'), 17: ('Low', 'AMZN'), 22: ('Open', 'AMZN'), 27: ('Volume', 'AMZN'), 3: ('Adj Close', 'AMZN'), 8: ('Close', 'AMZN'), 13: ('High', 'AMZN'), 18: ('Low', 'AMZN'), 23: ('Open', 'AMZN'), 28: ('Volume', 'AMZN'), 4: ('Adj Close', 'AMZN'), 9: ('Close', 'AMZN'), 14: ('High', 'AMZN'), 19: ('Low', 'AMZN'), 24: ('Open', 'AMZN'), 29: ('Volume', 'AMZN')}, 'value': {0: 0.09791699796915054, 5: 0.09791699796915054, 10: 0.125, 15: 0.09635400027036667, 20: 0.12187500298023224, 25: 1443120000.0, 1: 0.0864579975605011, 6: 0.0864579975605011, 11: 0.09895800054073334, 16: 0.0854170024394989, 21: 0.09843800216913223, 26: 294000000.0, 2: 0.0854170024394989, 7: 0.0854170024394989, 12: 0.08854199945926666, 17: 0.08124999701976776, 22: 0.08802100270986557, 27: 122136000.0, 3: 0.08177100121974945, 8: 0.08177100121974945, 13: 0.08749999850988388, 18: 0.08177100121974945, 23: 0.0864579975605011, 28: 109344000.0, 4: 0.07135400176048279, 9: 0.07135400176048279, 14: 0.08229199796915054, 19: 0.06875000149011612, 24: 0.08177100121974945, 29: 377064000.0}, 'actual_time': {0: 863654400.0, 5: 863654400.0, 10: 863654400.0, 15: 863654400.0, 20: 863654400.0, 25: 863654400.0, 1: 863740800.0, 6: 863740800.0, 11: 863740800.0, 16: 863740800.0, 21: 863740800.0, 26: 863740800.0, 2: 864000000.0, 7: 864000000.0, 12: 864000000.0, 17: 864000000.0, 22: 864000000.0, 27: 864000000.0, 3: 864086400.0, 8: 864086400.0, 13: 864086400.0, 18: 864086400.0, 23: 864086400.0, 28: 864086400.0, 4: 864172800.0, 9: 864172800.0, 14: 864172800.0, 19: 864172800.0, 24: 864172800.0, 29: 864172800.0}})